apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    image.openshift.io/triggers: >-
      [{"from":{"kind":"ImageStreamTag","name":"workshop:latest","namespace":"workshop-prod"},"fieldPath":"spec.template.spec.containers[?(@.name==\"workshop\")].image","pause":"true"}]
  labels:
    app: workshop
    app.kubernetes.io/component: workshop
    app.kubernetes.io/instance: workshop
    app.kubernetes.io/name: workshop
    app.kubernetes.io/part-of: workshop
    app.openshift.io/runtime: java
    app.openshift.io/runtime-version: openjdk-11-el7
  name: workshop
spec:
  replicas: 2
  selector:
    matchLabels:
      app: workshop
  template:
    metadata:
      labels:
        app: workshop
    spec:
      containers:
      - name: workshop
        imagePullPolicy: Always
        image: workshop-prod/workshop:latest
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 45
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        ports:
        - containerPort: 8080
          protocol: TCP
        - containerPort: 8443
          protocol: TCP
        - containerPort: 8778
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 45
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
